.energy-bar {
	width: 100%;
	height: 15px;
	border: 2px solid black;
	background-color: #F15E06;
	position: relative;
	color: black;
	text-shadow: none;

	&__progress {
		height: 100%;
		background-color: #FFF700;
		border-right: 2px solid black;
	}

	&__caption {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		text-align: right;
		font-size: 18px;
		line-height: 15px;

		padding: 0;
		padding-right: 4px;
	}
}